*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width:100%;
    height:100%;  
    scroll-behavior: smooth;
}

#navbar{
    height: 3.2rem;
    width: 100%;
    background-color: #392467;
    position:fixed;
    z-index: 2;
    top: 0;
    display: flex;
    align-items: center;
}

#logo img{
    height: 30px;
    width: 30px;
    position: absolute;
    top: 10px;
    left: 20px;
}

.ham{
    opacity: 0;
}

#navitems{
    float:left;
    margin-left:30px;
    /* margin-top: 20px; */
}

.lt a{
    color:#e1cfe5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
}

.lt a:hover{
    cursor: pointer;
}

nav li{
    float: left;
    transition: all .25s ease-in-out;
    margin:0px 10px;
    position: relative;
} 

.hide{
    opacity: 0;
    pointer-events: none;
}

.rt1 img{
    position: absolute;
    right: 30px;
    top:15px;
    height: 25px;
    cursor: pointer;
}

.rt2 img{
    position: absolute;
    right: 75px;
    top:15px;
    height: 25px;
    cursor: pointer;
}

.lt:hover{
    cursor: pointer;
    /* color: #fff; */
}

nav .lt::after{
    content:'';
    height: 2.5px;
    width: 100%;
    background-color:#e1cfe5;
    display: block;
    position: absolute;
    bottom:-10px;
    opacity: 0;
    transition: all 0.25s;
    pointer-events: none;
}

nav .lt:hover::after{
    opacity: 1;
    animation-name: line;
    animation-duration: .5s;
}

#searchf{
    position: absolute;
    top: -26px;
    right:180px;
    transform: translate(0,-50%);
    transition: all 1s;
    width: 35px;
    height: 35px;
    background: white;
    box-sizing: border-box;
    box-shadow: none;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

#search{
    position: absolute;
    top: -1.5px;
    left: 0px;
    width: 100%;
    height: 30px;
    border: 0;
    outline: 0;
    opacity: 0;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 3px;
    right:-2px;
    border-radius: 50%;
    color: #A367B1;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

#searchf:hover{
    width: 200px;
    cursor: pointer;
}

#searchf:hover #search{
    display: block;
    opacity: 1;
}

#searchf:hover .fa{
    background: #A367B1;
    color: white;
    top: -1px;
    right: 1px;
}

#introSec{
    height:100vh;
    width:100vw;
    align-items: center;
    /* background: linear-gradient(#fdbff3,#bffdfc); */
}

#left{
    padding:10px 50px;
}

#left h3{
    font-size: 3.5rem;
    font-family: "Satisfy", cursive;
    font-weight: 500;
    font-style: normal;
    color: #33186B;
}

#left h6{
    font-size: 1.2rem;
    font-family: "Satisfy", cursive;
    font-weight: 500;
    font-style: normal;
    color: #33186B;
    margin: 0 0 25px 0;
}

#left button{
    margin: 5px 0;
    padding: 15px;
    border-radius: 50px;
    font-weight: 100;
    font-style: normal;
    background-color: #33186B;
    color: #e1cfe5;
    cursor: pointer;
    transition: all 0.2s;
}

#left button:hover{
    transform: scale(.95);
}

svg{
    height:500px;
    width: 500px;
}

.animate{
    animation-name: linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}


@keyframes linear{
    from{
        transform: translateX(0px);
    } 
    to{
        transform: translateX(100px);
    }
}

#playlist{
    align-items: center;
}

.slider{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    /* background-color: #49108B; */
}

.p_card{
    height: 240px;
    width: 160px;
    padding: 7px;
    margin:10px;
    box-shadow:2px 15px 30px #33186B;
    border-radius:15px;
    position: relative;
    cursor: pointer;
    text-align: center;
}

.p_card1{
    height: 240px;
    width: 160px;
    padding: 7px;
    margin:10px;
    box-shadow:2px 15px 30px #33186B;
    border-radius:15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p_card input{
    position: absolute;
    top:200px;
    left: 10px;
    z-index: 1;
    appearance: none;
    height: 30px;
    width: 60px;
    cursor: pointer;
}

.p_card::before{
    content: "Follow";
    cursor: pointer;
    background-color: #A367B1;
    color: #fff;
    padding: 5px 8px;
    border-radius: 15px;
    position: absolute;
    top:200px;
    left:10px;
    opacity: 1;
    transition: all 0.2s;
}

.p_card::after{
    content: "Following";
    cursor: pointer;
    color: #33186B;
    background-color: #e1cfe5;
    padding:5px 8px;
    border-radius: 15px;
    position: absolute;
    top:200px;
    left:10px;
    opacity: 0;
    transition: all 0.2s;
}

.p_card:has(input:checked)::before{
    opacity: 0;
}

.p_card:has(input:checked)::after{
    opacity: 1;
}

.num{
    position:absolute;
    top:15px;
    right:15px;
    background-color: #e1cfe5;
    font-size: 12px;
    color:#56359d;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 2px;
    padding:0 2px;
}

.item{
    height: 220px;
    width: 160px;
    padding: 7px;
    margin:10px;
    box-shadow:2px 15px 30px #33186B;
    border-radius:15px;
    position: relative;
    cursor: pointer;
    transition: all 0.5s;
}

.item:hover{
    transform: scale(1.05);
    height: 280px;
}

.elem{
    height: 160px;
    width:146px;
    margin:0px;
    border-radius:15px;
}

.text{
    color: #A367B1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

p{
    opacity: 0;
    transition: 0.5s;
}

.item:hover p{
    opacity: 1;
}

.km{
    height: fit-content;
    width: fit-content;
    cursor: pointer;
    background-color: #A367B1;
    color: #fff;
    padding: 5px 8px;
    position: absolute;
    bottom: 7px;
    border-radius: 15px;
    text-decoration: none;
}

.vm{
    height: fit-content;
    width: fit-content;
    cursor: pointer;
    height: fit-content;
    background-color: #A367B1;
    color: #fff;
    padding: 5px;
    border-radius: 15px;
}

p,.km{
    opacity: 0;
    transition: 0.5s;
    font-size: 1rem;
}

.item:hover p,
.item:hover .km{
    opacity: 1;
}

.modal{
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
    box-shadow: 15px 15px 15px #392467;
    background:rgb(200, 163, 209);
    padding: 20px;
    margin:0 50px;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    transform: scale(0);
    transition: all .5s;
}

.modalcontent{
    height: fit-content;
    width: 80%;
    opacity: 1;
    padding: 20px;
    text-align: center;
}

.modal h4,.modal h5{
    color: #33186b;
    font-size: 20px;
}

.modalcontent img{
    height: 160px;
    width:146px;
    margin:0px;
    border-radius:15px;
}

.modalcontent p{
    color: #392467;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 600;
    opacity: 1;
    letter-spacing: .5px;
    line-height: 20px;
    margin-bottom: 30px;
}

.modalcontent button{
    cursor: pointer;
    color: #A367B1;
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 15px;
    border: #A367B1;
    text-decoration: none;
    font-weight: 800;
    transition: all 0.2s;
}

.modalcontent button:hover{
    transform: scale(.95);
}

.modal:target{
    transform: scale(1);
}

.closemodal{
    cursor: pointer;
    position: absolute;
    top:10px;
    right: 20px;
    font-size: 40px;
    font-weight: 800;
    text-decoration: none;
    color: #33186b;
}

h2{
    margin: 6vh 0 2.5vh;
    padding:5vh 0 2vh 0;
    text-align: center;
    color:#33186B ;
    font-weight: 800;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
}

h2::after{
    content:"";
    height:4px;
    background-color:#33186B;
    position: absolute;
    bottom: .5vh;
    right:1px;
    opacity: 0;
}

h2:hover::after{
    opacity: 1;
    animation-name: lineh2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#albums h3, #playlist h3{
    text-align: center;
    color:#33186B ;
    font-weight: 400;
    font-size: 1.5rem;
    font-family: "Satisfy", cursive;
    margin-bottom: 50px;
}

h1{
    padding-top: 10vh;
    margin-bottom: 50px;
    text-align: center;
    color:#33186B ;
    font-weight: 800;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
}

h1::after{
    content:"";
    position: absolute;
    height:3.5px;
    background-color:#33186B;
    bottom: -7px;
    right:1px;
    opacity: 0;
    pointer-events: none;
}

h1:hover::after{
    opacity: 1;
    animation-name: lineh2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes line {
    0%{
        width:0;
        left:0%;
    }
    100%{
        width:100%;
        left:0;
    }
}

@keyframes lineh2{
    0%{
        width:0;
        left:50%;
    }
    50%{
        width:50%;
        left:25%;
    }
    100%{
        width:0;
        left:50%;
    }
}

#reviews{
    width: 100%;
}

#revbox{
    display: flex;
    align-items: center;
    position: relative;
}

.con{
    height: 200px;
    width:350px;
    background-color: #e1cfe5;
    color: #33186B;
    margin: 10px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.more{
    height: 60px;
    width:60px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}

.con #profile{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    top:20px;
    left:20px;
}
.con h4{
    position: absolute;
    top:25px;
    left:80px;
}

.rating{
    position: absolute;
    top:45px;
    left:80px;
}

.rating img{
    height: 20px;
    width: 20px;
    margin: 0;
}

.con p{
    color: #33186B;
    position: absolute;
    opacity: 1;
    top:80px;
    left:20px;
}

.part2{
    margin-top:5vh;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #392467;
    font-size: 20px;
}

.form{
    height: 600px;
    width:100%;
    display: flex;
    justify-content: center;
}

form{
    width: 50%;
    height:450px;
    margin: 0;
    background: #e1cfe5;
    border-radius: 25px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

input.name{
    width: 90%;
    height: 30px;
    outline: 0;
    font-size: 1em;
    border-radius: 20px;
    border:0;
    padding: 2.5px 20px;
    margin-top: 25px;
}

input.rev{
    width: 90%;
    height: 200px;
    outline: 0;
    font-size: 1em;
    border-radius: 20px;
    border: 0;
    padding: 0 20px;
    margin: 0 5%;
}

form h4{
    font-size: 25px;
    font-weight: 500;
    margin: 15px;
}

form .img{
    height: 25px;
    display: flex;
    gap:10px;
    background-color: #fff;
    padding: 2px 15px;
    border-radius: 10px;
}

form button{
    height: fit-content;
    width: fit-content;
    color: #e1cfe5;
    background-color: #A367B1;
    padding: 5px 10px;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 10px;
}

footer {
    width: 100%;
    background-color: #392467;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    align-items: center;
}

footer>div{
    height:200px;
    width:30%;
    margin: 50px 8px 0;
    padding: 5px;
    color: #e1cfe5;
    overflow: hidden;
}

footer h4{
    margin: 10px 0 0 20px;
    font-size: 1.2rem;
    font-weight: 400;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer p{
    opacity:1;
    margin:10px 20px;
    font-size: .8rem;
}

.contact img{
    height: 15px;
    width: 15px;
    margin: 10px 5px 20px 22px;
}

.contact li{
    position: relative;
}

.contact p{
    position: absolute;
    top:-2.5px;
    left:25px;
    font-size: 12px;
}

.icons img{
    height: 30px;
    margin: 15px 0 0 21px;
    cursor: pointer;
    transition: all .5s;
}

.icons img:hover{
    transform: translateY(-8px);
}

.links{
    height: 60px;
    width: 85%;
    text-align: center;
    padding: 0;
    margin: 5px;
}

.links a{
    text-decoration: none;
    color: #e1cfe5;
}

#backToTop{
    height: 50px;
    width:50px;
    position: fixed;
    bottom:10px;
    right:10px;
    padding: 10px;
    border-radius: 50%;
    background-color: #33186b;
    cursor: pointer;
}

#toggle {
    width: 50px;
    height: 30px;
    border-radius: 15px;
    border: solid 2px;
    font-weight: bold;
    background: #8893;
    position: absolute;
    color: white;
    right: 120px;
    display: block;
    cursor: pointer;
}

#toggle:after{
    content:"";
    height: 22px;
    width:22px;
    border-radius: 50%;
    background-color: #fbdff5;
    position: absolute;
    top:0;
    left:0;
    margin: 2px;
    transition: all 0.5s;
}

input:checked +#toggle::after{
    background-color: rgb(77, 76, 76);
    translate: 100%;
    transition: all 0.5s;
}
  
#theme{
    display: none; 
}

body:has(#theme:checked){
    background-color: #000;
}

nav:has(#theme:checked){
    background: #000;
}

body:has(#theme:checked) footer,
body:has(#theme:checked) .con,
body:has(#theme:checked) #left{
    background-color: #000;
}
  
body:has(#theme:checked) h1,
body:has(#theme:checked) h2,
body:has(#theme:checked) h3,
body:has(#theme:checked) h4,
body:has(#theme:checked) h5,
body:has(#theme:checked) h6,
body:has(#theme:checked) p,
body:has(#theme:checked) .con p,
body:has(#theme:checked) #left h3,
body:has(#theme:checked) #left h6{
    color: #fff;
}

body:has(#theme:checked) h1::after,
body:has(#theme:checked) h2::after,
body:has(#theme:checked) #introSec button{
    background-color: #fff;
} 

body:has(#theme:checked) #introSec button{
    color: #000;
}

@media (max-width:800px) {
    .ham{
        display: flex;
        flex-direction: column;
        opacity: 1;
        gap:5px;
        position: absolute;
        top:13.5px;
        right: 10px;
    }

    .ham::before, .ham::after, .ham input{
        content:"";
        height: 4px;
        width: 30px;
        background-color: #d6badd;
        border-radius: 50px;
        cursor: pointer;
        z-index: 2;
        transform-origin: left;
        transition: all .2s;
    }

    .ham input{
        appearance: none;
        outline: 0;
    }

    .ham input:checked{
        opacity: 0;
    }

    .ham:has(input:checked)::before{
        rotate:45deg;
        width:25px;
    }

    .ham:has(input:checked)::after{
        rotate:-45deg;
        width: 25px;
    }

    nav ul{
        translate: 150vw;
        position: absolute;
        top:-20px;
        left:-30px;
        opacity: 0.75;
        z-index: 1;
        background-color: rgb(21, 35, 35);
        height: 100vh;
        width: 100vw;
        transition: all 0.2s;
    }

    .ham:has(input:checked) + ul{
        transform: translate(-150vw);
    }

    nav li{
        position: relative;
        top:50px;
        left:50px;
        margin: 25px;
        width: fit-content;
        float: none;
    }

    .hide{
        opacity: 1;
        pointer-events: all;
    }

    .rt1,.rt2{
        display: none;
    }

    nav #searchf{
        position: absolute;
        right:120px;
    }

    form{
        width:80%;
    }

    footer>div{
        margin:20px 0 0 0;
    }
    .desc{
        width: 85%;
        height: 130px;
    }
    .contact{
        height: 180px;
        width: 85%;
    }
    .icons{
        width: 85%;
        height: 100px;
    }
    #introSec{
        height: 65vh;
    }
    svg{
        height: 300px;
        width: 300px;
    }
    #toggle{
        position: absolute;
        right:60px;
    }

}

@media (max-width:755px) {
    .more{
        position: absolute;
        top:660px;
    }

    .part2{
        margin-top: 100px;
    }
}

@media (max-width:600px) {
    .desc{
        height: 150px;
    }
    .icons{
        height: 100px;
    }
    #introSec{
        height: 80vh;
        margin-bottom: 50px;
    }
    form .img{
        gap:2px;
        padding: 2px 0;
    }

}
